
* {
    margin:0;
    text-align: center;
}

body {
    background-color: lightblue;
    text-align: center;
    font-family: 'Changa';

  }


.game-intro {
    margin:10px 0 0 20px;

    width: 45vh;
    height: 50vh;

    flex-direction: column;
    display: flex;
    float: left;

    border-radius: 5px;
      
}

.game-intro h1 {
    margin-top: 10px;
    
}

.game-story {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;

    border:dotted red 2px;
    border-radius: 20px;
    font-size: 14px;
    
}

h1 {
    text-align: center;
    height: 10vh;
    justify-content: center;
    padding: 30px;
    line-height: 30px;
    color:rgb(39, 39, 146);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

}


.grab {
flex-direction: row;
display:flex;
border:0;
flex-flow: row;


}
.points {
    list-style: none;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    border:dotted red 2px;
    border-radius: 20px;
    padding:10px;
    display:flex;
    font-size: 14px;
   
}
.heart {
    margin-top: 10px;
    
}

.button {
    justify-content: center;
    display:flex;
   
}

.button-img {
    width: 150px;
    height: 100px;
    
  }  

  .float {
    width: 150px;
    height: 120px;
    object-fit: fill;
  }

#start-button {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: transparent;   
    text-decoration: none;
}

.arrow, .heart {
    color: rgb(39, 39, 146);
    font-weight: bold;
}


/* h1 {
   font-size: 40px;
    text-align: center;
    position: relative;
} */

/*p {
    width: 50%;
    flex-wrap: wrap;
    position: relative;
}

body button {
    font-size: 30px;
    background-color: red;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
} */


#game-board {
    float: right;
    padding: 10px;
   
}
  
  #canvas {
    background-image: url(/docs/assets/game.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   
}